<div class="container">
    <h2>{{brandHeader}}</h2>
</div>
<div *ngIf="!showSneakerDetail">
    <div class="container">
        <div class="row">
            <div *ngFor="let sneaker of sneakerListTry | async " class="sneaker col-xs-3 tile"  [routerLink]="['/SneakerShop',selectBrand,sneaker.modelID]">
                <div>
                    Model ID: {{sneaker.modelID}}
                </div>
                <div>
                    Name: {{sneaker.modelName}}
                </div>
                <div>
                    Brand: {{sneaker.brand}}
                </div>
            </div>
        </div>
    </div>
</div>