<div *ngIf="!showByBrand" class="container">
    <div *ngIf="currentSneaker" class="sneaker">
        <span><a class="close" [routerLink]="['/SneakerShop',currentBackTo]">X</a></span>
        <div>
            <span>
                <h2>Model Name: {{currentSneaker.modelName}}</h2>
            </span>

        </div>
        <div>Model ID: {{currentSneaker.modelID}} </div>
        <div>brand: {{currentSneaker.brand}}</div>
        <br>
        <div>
            <mat-form-field>
                <mat-label>Size</mat-label>
                <select matNativeControl required  [(ngModel)]="selectedValue">
                  <!--<option *ngFor="let size of currentSneakerStock.stockList | keyvalue:mySortingFunction" [value]="size.key">-->
                  <option *ngFor="let size of displaySizes ">  
                    <!--{{ sneakerSizeLabel(size.key) }}-->
                    {{size}}
                  </option>
                </select>
              </mat-form-field>
        </div>
        <br>
        <div>You Selected : {{selectedValue}}</div>
        <span><button class="btn btn-primary" >Add To Cart</button></span>

    </div>
</div>